.model-row {
  margin-left: 0px;
  margin-right: 0px;
}
.row {
  height: auto;
}
#breakword {
  word-wrap: break-word;
  white-space: normal;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }