ansible
ansible-core
ansible_runner
ansible-pylibssh
dictdiffer
easysnmp
fastapi
future
gunicorn
httpx
netifaces
prometheus_client
psutil
pycurl
pydantic
pymysql
pyOpenSSL
pyroute2
python_dateutil
PyYAML
rdflib
Requests
simplejson
uvicorn
deepdiff
pyjwt[crypto]
cryptography
gitpython
argon2-cffi
sqlalchemy>=2.0,<3.0
alembic