pyparsing
rdflib
setuptools
future
simplejson
mod-wsgi
semantic-version
prometheus-client
python-dateutil
pyaml
requests
pycurl
pyOpenSSL
netifaces
mariadb==1.0.8
cryptography>=35.0
wheel
paramiko
ansible-runner
psutil
typing-extensions
ansible
setuptools-rust
PyYAML
easysnmp
routes
netaddr
ansible-pylibssh
ansible-core>=2.13.13rc1 # not directly required, pinned by Snyk to avoid a vulnerability
