psutil
ipaddress
pyroute2
pyaml
pyshark
iperf3
pycurl
requests
netifaces
future
simplejson
pyOpenSSL
rdflib
typing-extensions
pymysql
setuptools
prometheus-client
kubernetes
httpx
deepdiff
pyjwt[crypto]
cryptography
gitpython
sqlalchemy>=2.0,<3.0