pyparsing
rdflib
setuptools
future
simplejson
mod-wsgi
semantic-version
prometheus-client
python-dateutil
pyaml
requests
pycurl
pyOpenSSL
netifaces
pymysql
cryptography>=35.0
wheel
paramiko
ansible-runner
psutil
typing-extensions
ansible
setuptools-rust
PyYAML
easysnmp
routes
netaddr
ansible-pylibssh
dictdiffer
gunicorn
uvicorn
ansible-core
urllib3
zipp
python-multipart
werkzeug
fastapi