name: Linter

on: [pull_request]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@v4

    - name: Run Linter on modified file(s)
      id: mainRun
      uses: super-linter/super-linter@v5
      env:
        VALIDATE_ALL_CODEBASE: false
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Remove OK Label if failure
      id: remove-ok-label
      uses: actions/github-script@v6
      if: always() && steps.mainRun.outcome == 'failure'
      continue-on-error: true
      with:
        script: |
          github.rest.issues.removeLabel({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            name: ["[ACTION] Linter OK"]
          })

    - name: Add Failure Label if failure
      id: add-fail-label
      uses: actions/github-script@v6
      if: always() && steps.mainRun.outcome == 'failure'
      with:
        script: |
          github.rest.issues.addLabels({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            labels: ["[ACTION] Linter Failed"]
          })

    - name: Remove Failed Label if (success or skipped)
      id: remove-fail-label
      uses: actions/github-script@v6
      if: always() && (steps.mainRun.outcome == 'success' || steps.mainRun.outcome == 'skipped')
      continue-on-error: true
      with:
        script: |
          github.rest.issues.removeLabel({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            name: ["[ACTION] Linter Failed"]
          })

    - name: Add OK Label if (success or skipped)
      id: add-ok-label
      uses: actions/github-script@v6
      if: always() && (steps.mainRun.outcome == 'success' || steps.mainRun.outcome == 'skipped')
      with:
        script: |
          github.rest.issues.addLabels({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            labels: ["[ACTION] Linter OK"]
          })

    - name: Dump steps context
      id: dump-env
      if: always()
      env:
        STEPS_CONTEXT: ${{ toJson(steps) }}
      run: echo "$STEPS_CONTEXT"
